:root {
  --primary: #FF8C00;
  --secondary: #FFC300;
  --accent-light: #FFD400;
  --danger: #FF5F00;

  --text-dark: #1A1A1A;
  --text-muted: #6B7280;

  --bg-light: #F9FAFB;
  --white: #FFFFFF;
  --border: #E5E7EB;
}